.features {
  &-title {
    font-weight: bold;
  }
  .container-wrapper:nth-child(odd) {
    background-color: #f4f4f4;
  }
  .feature-image {
    max-width: 100%;
    max-height: 330px;
    border: 1px solid #ddd;
    background: #eee;
  }
}
